<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="refresh" content="0" url="http://www.sme-epfl.weebly.com">
		<link rel="canonical" href="http://www.sme-epfl.weebly.com" />
	</head>
  <!--{% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include goals.html %}
    {% include team.html %}
    {% include timeline.html %}
    {% include sponsors.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>-->
</html>